# Telegram Bot Framework
pyTelegramBotAPI==4.21.0

# Web Framework (для webhook на Render)
Flask==3.0.3

# Для безпечної авторизації Google (якщо колись повернеш інтеграцію з Sheets)
oauth2client==4.1.3
gspread==6.1.2

# Базові залежності Python
requests==2.32.3
gunicorn==22.0.0
requests==2.31.0
